# dummy ci. See https://qiita.com/bigmac/items/49827cd8a0b2abc69279
name: dummy
on:
  pull_request:

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    if: ${{ false }}
    steps:
      - name: Pass
        run: echo ok
